*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--montserrat);
}


:root{
    --federalBlue: #1E004F;
    --flashWhite: #EAEDF0;
    --white: #ffffff;
    --black: #000000;
    --darkGrey: #120E13;
    --raisinBlack: #18141A;
    --lightGrey: #2A2B30;
    --purple: #9B5EFF;
    --blue: #1C76E5;

    --montserrat: 'Montserrat', 'sans-serif;'
}

html{
    scroll-behavior: smooth !important;
}

header{
    background-color: var(--flashWhite);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 100px;

    user-select: none;
}

.bt_base{
    transition: ease-in 0.2s all;
    width: fit-content;
    text-decoration: none;
    font-weight: 600;
    border: var(--purple) 3px solid;
    border-radius: 10px;
    color: var(--black);
}

.bt_base:active{
    color: var(--blue);
}

.bt_base:hover{
    border: var(--blue) 3px solid;
    box-shadow: 0px 0px 33px -17px rgba(28,118,229,1);
}

.logo{
    font-size: 20px;
}

.logo p{
    color: var(--purple);
}

nav{
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
}

nav a:hover{
    transition: ease-in 0.1s all;
    font-weight: 700;
}

header>a{
    font-size: 14px;
    padding: 5px 10px;
}

/*  */

::selection{
    color: var(--purple);
}

main>section:first-child{
    height: calc(100vh - 80px);

    background-color: var(--raisinBlack);
    color: var(--white);

    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px 0;
}

.greetings{
    display: flex;
    align-items: center;
    justify-content: center;
}

.greetings>div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;

    left: 10%;
    z-index: 1;
}

.greetings>div:nth-child(1)>div h2,
.greetings>div:nth-child(1)>div h1{
    font-size: 40px;
}

.greetings>div>span{
    font-size: 14px;
}

hr{
    margin-top: 5px;
    width: 200px;
    border: var(--white) 3px solid;
}

.greetings img{
    width: 500px;
    position: relative;
    right: 5%;
}

.greetings>div:nth-child(1)>a{
    font-weight: 600;
    font-size: 20px;
    color: var(--white);
    padding: 10px 15px;
}

.bt_descer{
    fill: var(--white);
    transition: ease-in 0.1s all;
}

.bt_descer:hover{
    fill: var(--blue);
}

/*  */

.container-about-me{
    height: calc(100vh);
    background-color: var(--darkGrey);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-me{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 80px 100px;
}

.about-me p:nth-child(1){
    text-align: end;
    width: 40%;
    font-size: 14px;
}

.about-me p:nth-child(2){
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    width: 20%;
}

.about-me p:nth-child(3){
    text-align: start;
    width: 40%;
    font-size: 14px;
}

.effect-gradient-top{
    height: 50px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7203256302521008) 100%);
}

.effect-gradient-bottom{
    height: 50px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7203256302521008) 100%);
}

/*  */
.img-prev{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 15px 13px 37.2px 0px rgba(0, 0, 0, 0.25);
}

.projetos{
    padding: 80px 100px;
    background-color: var(--lightGrey);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 25px;
    margin: 25px 0 40px 0;
}

.container-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project>p{
    font-size: 25px;
    font-weight: 700;
}

.project span{
    width: 60%;
    text-align: center;
}

.project small{
    font-weight: 300;
}

/*  */

.contact{
    background-color: var(--raisinBlack);
    color: var(--white);
    padding: 50px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact div{
    display: flex;
    gap: 20px;
}

.icon-ctt{
    transition: ease-in 0.2s all;
    padding: 20px;
    background-color: var(--purple);
    border-radius: 100%;
}

.icon-ctt:hover{
    background-color: var(--blue);
    box-shadow: 0px 0px 33px -17px rgba(28,118,229,1);
}

/*  */

footer{
    background-color: var(--raisinBlack);
    padding: 15px 100px;
    border-top: var(--white) 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    color: var(--white);
    text-decoration: none;
}