*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--montserrat);
}

html{
    scroll-behavior: smooth;
}

:root{
    --roxo: #332747;
    --roxoC: #634e86;
    --verdeC: #82FF9E;
    --verdeE: #57bd6d;
    --branco: #fff;
    --montserrat: 'Montserrat', 'sans-serif'
}

header{
    background-image: url(/img/header.png);
    background-color: var(--roxo);
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

    /* position: fixed; */
}

header>div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    color: var(--branco);
}

/* padrões */

.btn{
    transition: ease all 0.2s;
    padding: 10px 15px;
    border: var(--branco) solid 1px;
    border-radius: 10px;
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
    font-size: smaller;
}

.btn:hover{
    background-color: var(--verdeC);
    color: var(--roxo);
    border: var(--roxo) solid 1px;
}

.btn:active{
    background-color: var(--verdeE);
}

.link{
    transition: all ease 0.2s;
    color: var(--branco);
    text-decoration: none;
}

.link:hover{
    color: var(--verdeC);
}

/* padrões */

header>div>.btn{
    margin-left: 15px;
}

/* MAIN */

main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    "categorias main ad"
    "categorias main ad"
    ;
    padding: 40px 0;
}


/* CATEGORIAS */

.categorias{
    /* width: 250px; */
    height: 450px;
    padding: 30px;
    border-radius: 0 40px 40px 0;
    background-color: var(--roxoC);
    color: var(--branco);
    user-select: none;
    box-shadow: 0px 14px 31px 0px rgba(0,0,0,0.48);

    /* position: fixed; */
    top: 130px;

    display: flex;
    flex-direction: column;

    grid-area: categorias;
}

.scroll{
    height: 100%;
    color: var(--branco);
    user-select: none;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 20px 0;
    margin-top: 10px;
    /* position: relative; */
}

.scroll-footer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categorias{
    overflow: hidden;
}


.categorias div details > summary{
    cursor: pointer;
    list-style-type: none;
    position: relative;
}

.categorias div details{
    margin-left: 20px;
}

.categorias div details > summary::before{
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: -15px;
    top: 2.5px;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

.categorias div details[open] > summary:before {
    transform: rotate(90deg);
}

.summary-links{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    gap: 5px;
}

.summary-links li{
    margin-top: 5px;
}

/* CATEGORIAS - SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--roxo);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--roxo);
}

/* PROPAGANDA */

.ad{
    height: 450px;
    padding: 30px;
    border-radius: 40px 0 0 40px;
    background-color: var(--roxo);
    color: var(--branco);
    user-select: none;
    box-shadow: 0px 14px 31px 0px rgba(0,0,0,0.48);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    grid-area: ad;
}

.ad img{
    width: 200px;
}