/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 130px 0 40px 0;
}

article{
    width: 60%;
}


/* CATEGORIAS */

.categorias{
    height: 65vh;
    width: 230px;
    padding: 30px;
    border-radius: 0 40px 40px 0;
    background-color: var(--roxoC);
    color: var(--branco);
    user-select: none;
    box-shadow: 0px 14px 31px 0px rgba(0,0,0,0.48);

    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 130px;
}

.scroll{
    height: 100%;
    color: var(--branco);
    user-select: none;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 20px 0;
    margin-top: 10px;
}

.scroll-footer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categorias{
    overflow: hidden;
}


.categorias div details > summary{
    cursor: pointer;
    list-style-type: none;
    position: relative;
}

.categorias div details{
    margin-left: 20px;
}

.categorias div details > summary::before{
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: -15px;
    top: 2.5px;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

.categorias div details[open] > summary:before {
    transform: rotate(90deg);
}

.summary-links{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    gap: 5px;
}

.summary-links li{
    margin-top: 5px;
}

/* PROPAGANDA */

.ad-container{
    height: 65vh;
    width: 230px;
    padding: 30px;
    border-radius: 40px 0 0 40px;
    background-color: var(--roxo);
    color: var(--branco);
    user-select: none;
    box-shadow: 0px 14px 31px 0px rgba(0,0,0,0.48);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    position: fixed;
    right: 0;
    top: 130px;
}

.ad-container img{
    width: 180px;
}

.ad-container a{
    position: relative;
}

.ad{
    position: relative;
}

.ad-link:hover + i{
    color: var(--verdeC);
}

.ad-container i{
    position: absolute;
    right: 0;
    font-size: 20px;
}

/* BUTTON VER MAIS */

.seemore{
    background-color: var(--roxoC);
    border: solid 1px var(--roxoC);
}