body{
    margin: 20px;
    border: black 1px solid;
}

header{
    display: flex;
    justify-content: center;
    border-bottom: black 1px solid;
    padding: 20px;
}

header div{
    border: black 1px solid;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */

main{
    display: grid;
    grid-template-areas: "nav section section";
    grid-template-columns: 75% 25%;
}

nav{
    border: black 1px solid;
    padding: 30px;
}

nav div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nav p{
    font-size: 20px;
}

nav div a{
    width: fit-content;
}

.container{
    border: black 1px solid;
    padding: 30px;
}

nav,
.container{
    margin: 10px;
}

/*  */

footer{
    border-top: black 1px solid;
    text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width:750px){
    main{
        grid-template-areas: "section"
        "nav";
        grid-template-columns: 1fr;
    }

    main nav{
        grid-row: 1;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
    }
}