*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
}

div>img{
    width: 150px;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

main{
    margin: 20px 40px;
}