/* MAIN */

main{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--preto);
}

main div{
    width: 25%;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 100%;
    background-color: var(--cinzaC);
    padding: 100px 50px 0 50px;
    width: 80%;
    z-index: 1;
}

.img{
    object-fit: cover;
    opacity: 0.5;
    height: 100%;
}

.img:nth-child(1){
    object-position: -280px 0;
}